body {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}

/* header */
.logo {
    font-family: 'Raleway';
    color: #212121;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-web {
    color: #2196f3;
}
.logo-studio :hover,
.logo-studio :active,
.logo-studio :focus {
    color: #212121;
}
/* head-nav */
.head-nav,
.contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.head-filtr :focus,
.head-filtr :hover,
.head-filtr :active{
    color: #2196F3;
}
.contact :hover,
.contact :focus,
.contact :active {
    color: #2196F3;
}


.head-nav-telephone {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



/* footer  */
footer {
    background-color: #2F303A;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
}
.footer-adress {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color:#ffffff
}
.footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#ffffff
}

/* portfolio main */
.portfolio-filter :active,
.portfolio-filter :hover,
.portfolio-filter :focus {
    color: #ffffff;
    background-color: #2196F3;
}

.button {
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    background: #F5F4FA;
    border: 0;
}

.portfolio-mainn {
    text-decoration: none;
}
.portfolio-contend {
    text-decoration: none;
}
.portfolio-img {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
.portfolio-work {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
}
.portfolio-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
    text-decoration: none;
}


/* main-page */