body {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* header */
.logo {
    font-family: 'Raleway';
    color: #212121;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-web {
    color: #2196f3;
}
/* head-nav */
.head-nav,
.contact {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.head-nav-blu {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.telephone-number {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* footer  */
footer {
    background-color: #2F303A;
}
.footer-conract {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 2;

}
.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color:#ffffff
}
.footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#ffffff
}

/* portfolio main */

.button {
    font-size: 16px;
    line-height: 1.62;
}
.button :hover, :focus {
    font-size: 16px;
    line-height: 1.62;
}


.portfolio-img {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
.portfolio-work {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.portfolio-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}


/* main-page */